a {
    text-decoration:none; 
    color:white;
    font-size: large;
}

.pr{
    padding-right: 50px;

}

.container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    
}

h1{
    text-align: center;
    color:white;

}




